<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hanne_000.s198607s198713_mappe2" >

    <uses-permission android:name="com.example.hanne_000.s198607s198713_mappe2.permission" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="com.example.hanne_000.s198607s198713_mappe2.permission" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cakeicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:logo="@drawable/cakeicon">



        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/cakeicon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<receiver android:name= "Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </receiver>-->


        <activity android:name=".Message"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity android:name=".Edit"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity android:name=".NewContact"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity android:name=".NewMessage"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity android:name=".Contact"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity android:name=".Settings"
            android:parentActivityName=".MainActivity">

        </activity>

        <receiver android:name="Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

    <service android:name="SMS_Service">
    </service>

    <service android:name="SetPeriodicService">
    </service>

        <!--<service android:name=".SetPeriodicService">
        </service>-->
        <receiver android:name="AlarmReceiver">
            <intent-filter>
                <action
                    android:name="com.example.hanne_000.s198607s198713_mappe2.CustomBroadcast">
                </action>
            </intent-filter>
        </receiver>
<!--
        <receiver android:name=".AlarmReceiver"
            android:process=":remote">

        </receiver>-->

        <receiver android:name="com.example.hanne_000.s198607s198713_mappe2.BootBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.example.hanne_000.s198607s198713_mappe2.ContactCP"
            android:authorities="com.example.anne_000.s198607s198713_mappe2"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.hanne_000.s198607s198713_mappe2.permission"
            android:writePermission="com.example.hanne_000.s198607s198713_mappe2.permission">
        </provider>

    </application>



</manifest>
